@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  color: #2078df;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d1f20;
  text-align: center;
}

main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 30rem;
  height: 30rem;
  background-color: #015988;
}

.cell {
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
}

.playerX {
  color: azure;
}

.playerO {
  color: maroon;
}

#game-over {
  display: none;
  margin-bottom: 2rem;
}

#player-turn {
  display: none;
}
